#root {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;

  /* disallow selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

#crosswordWrapprer {
  display: flex;
}

@media (max-width: 600px) {
    #crosswordWrapprer {
        flex-direction: column; /* Stack components vertically */
    }
}