.CrosswordCell {
    width: 50px;
    height: 50px;
}

.inSelectedList {
    background-color: #e6f7ff;
}

.upperRow {
    font-size: 8px;
    display: flex;
    align-items: center;
    height: 10px;
}

.numberContainter {
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
}

.rightArrowContainer {
    height: 10px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.bottomRow {
    display: flex;
    align-items: center;
    height: 40px;
}

.downArrowContainer {
    font-size: 8px;
    height: 40px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer {
    font-size: 28px;
    height: 30px;
    width: 30px;
    border: none;
    text-align: center;
}

.letterContainer:disabled {
    background-color: white;
    cursor: not-allowed;
}

.wrongLetter {
    color: red;
}

.correctLetter {
    color: green;
}